<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--    Start on boot-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
            android:name=".android.ABDMApp"
            android:theme="@style/Theme.ABDownloadManager"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="Grabbit"
    >
        <activity
                android:name=".android.ui.MainActivity"
                android:exported="true"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="adjustResize"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".android.pages.singledownload.SingleDownloadPageActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />
        <activity
                android:name=".android.pages.downloaderror.DownloadErrorActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />
        <activity
                android:name=".android.pages.browser.BrowserActivity"
                android:label="Grabbit Browser"
                android:exported="true"
                android:theme="@style/Theme.ABDownloadManager"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation"
        >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity-alias
                android:name="grab.bit.browser.BrowserIconInLauncher"
                android:enabled="false"
                android:exported="true"
                android:targetActivity=".android.pages.browser.BrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!--        Accept external download from browsers/send intents etc...-->
        <activity
                android:name=".android.pages.add.AddDownloadActivity"
                android:exported="true"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
        />

        <activity
                android:name=".android.pages.add.single.AddSingleDownloadActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".android.pages.add.multiple.AddMultiDownloadActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".android.pages.directorypicker.DirectoryPickerActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".android.pages.crashreport.CrashReportActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <service
                android:name=".android.service.DownloadSystemService"
                android:exported="false"
                android:foregroundServiceType="specialUse"
        />

        <receiver
                android:name=".android.receiver.StartOnBootBroadcastReceiver"
                android:enabled="false"
                android:exported="false"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
